<div class="footer">
    <a href="#">&nbsp;&nbsp;Contact Us&nbsp;&nbsp;|&nbsp;&nbsp;</a>
    <a href="#">Refund Policy&nbsp;&nbsp;|&nbsp;&nbsp;</a>
    <a href="#">&copy;Central Lost & Found</a>
</div>