<div class="nav">
    <a href="Homepage">Home</a> 
    <a href="login" target="_blank">Login</a>
    <a href="signup" target="_blank">Sign Up</a>
    <a href="report" target="_blank">Report Found/Lost Item</a>
    <a href="available_items" target="_blank" style="float: right;">Check List of Availabe Items/Product Demo</a>
</div>