<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & Found Website</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .nav :hover{
            color: rgb(219, 10, 10);
        }
        .main a :hover{
            opacity: 0.4;
        }
        @media screen and (max-width: 900px){
            .work,.location{
                font-size: large;
            }

            .txt_on_image{
                font-size: large;
            }

            .header h1 {
                font-size: 3.5vw;
            }

            h2 {
                font-size: 3vw;
            }

            .nav a{
                font-size: 3vw;
            }
            .logo a{
                width: 20vw;
            }
        }
    </style>
    
    <script lang="Javascript">
        function setCookie(cname, cvalue, exdays) 
        {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) 
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) 
            {
                var c = ca[i];
                while (c.charAt(0) == ' ') 
                {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) 
                {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() 
        {
            var user = getCookie("username");
            var value=getCookie("visited");
            if (user != "") 
            {
                alert("Welcome Back to our website " + user+". You have visited this page "+value+" times! (Found using cookies)");
                setCookie("visited",parseInt(parseInt(value)+1),365);
            } 
            else 
            {
                user = prompt("Please enter your name:", "");
                if (user != "" && user != null) 
                {
                    setCookie("username", user, 365);
                    setCookie("visited",2,365);
                }
            }
        }
    </script>
</head>

<body onload="checkCookie()">
    <!--Changed header tag to div and added class as header-->
    <div class="body" >
        <div class="header">
            <h1 align="center">Central Lost and Found</h1>
        </div>
    
        <%- include('partials/NavBar') %> 
    
        <!-- changed main tag to div. class=main-->
        <div class="main" style=" font-size: 25px; letter-spacing: 1.5px;">
            <div class="picture">
                <img src="background1.jpg" alt="" style="width: 100%;">
                <div class="txt_on_image" >Your goto place to find all your Lost Items</div>
            </div>
    
            <div class="work" >
                <p>
                <strong> Want to report a found Item?</strong>
                <br><br>                
                All you have to do is login and report the details of the the found item
                in the Report Found Item section in the navigaton bar above. Its as easy as that!.
                <hr>
                <strong>Want to report Your lost Item?</strong> 
                <br><br>
                All you have to do is login and report the details of your missing Item in the Report Lost Item section. Simple!
                All the items that are not retrieved within a year are up for sale at 50% of the estimated price or rent it at for 11% depending on product type and their condition.
                These items are displayed at the available items section along with product demo
                <hr>
                <br>
                </p>
            </div>
    
            <div class="location">
                <h2>Where we are located</h2>
                <p>We are located inside NITK campus. Here is the campus which awaits you incase you decide to explore the campus after finding your lost objects<br><br></p> 
                <figure class="tour" style="text-align: center;" >
                    <iframe style="width: 60vw; height: 35vw; border-radius: 20px; " src="https://www.youtube.com/embed/dVtoW9qQ2eE" ></iframe>
                    <figcaption><address>NH 66, Srinivasnagar, Surathkal, Mangalore, Karnataka 575025</address></figcaption>
                    <a href="https://www.google.com/maps/dir/18.7318645,73.6653936/nitk+address/@18.8061718,72.8020689,8.25z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3ba35211b768ac8f:0x6b1144ac2d5dadf3!2m2!1d74.7943167!2d13.0109883" style="text-decoration: none; color: rgb(206, 66, 41);">Click here for directions</a>
                </figure>
                <hr><br>
                <figure class="logo"  style="text-align: center;">
                    <a href="https://www.nitk.ac.in/"  ><img src="logo.png"></a>
                    <figcaption style="font-size: 20px;">
                        Click on Image to visit the NITK Website
                    </figcaption>
                </figure> 
            </div>
        </div>
    
        <%- include('partials/Footer') %> 
    </div>
</body>
</html>