<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Report form</title>
    <link rel="stylesheet" href="style.css">
    <script lang="Javascript">
        function startTime() 
        {
            var today = new Date();
            document.getElementById('DateTimeLive').innerHTML = "Current Date and Time:- "+today;
            var t = setTimeout(startTime, 500);
        }

        function check(form)
        {   
            var checkbox_valid=form.Book.checked || form.Electronics.checked || form.Sports.checked || form.Others.checked;
            if(!checkbox_valid)
            {
                alert("Please check atleast one value in checkbox!");
                return false;
            }

            if(form.venue.value.length==0)
            {
                alert("Please fill venue");
                return false;
            }

            date_when_lost=form.date.value;
            date_regex=/(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/]([2][0][2-9][0-9])$)|(^29[\/]02[\/](19|[2][0])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)/gm;
            if(!date_regex.test(date_when_lost))
            {
                alert("Give Proper Date");
                return false;
            }

            time_lost=form.time.value;
            time_regex=/((^[0-1][0-9])|(^[2][0-4])):[0-5][0-9]:[0-5][0-9]$/
            if(!time_regex.test(time_lost))
            {
                alert("Give proper time in proper format");
                return false;
            }

            if(form.price.value=='disabled')
            {
                alert("Choose a price range for item");
                return false;
            }

            if(confirm("Press OK to confirm the data in the form!")==false)
            {
                return false;
            }
            
            alert("Your report has been sent successfully!");
            return true;
        }

        function hover(label)
        {
            label.style.fontSize="x-large";
        }

        function hover_remove(label)
        {
            label.style.fontSize="large";
        }

        function inputcolor(x)
        {
            x.style.background="rgb(255, 255, 201)";
        }

        function onfoc_out(x)
        {
            x.style.background="white";
        }
    </script>
</head>

<body onload="startTime()">
    <div class="body">
        <div class="header">
            <h2>Fill this form if you want to report a lost/found Item</h2>
        </div>
        <%- include('partials/NavBar') %>
        <%- include('partials/DateTime') %> 
        <p style="color: crimson; font-size: 20px; padding-left: 1.5vw;">All fields are necessary unless specified</p>
        <div class="container">
            <form id="report_form" onsubmit="return check(this)" method="POST" >
                <div>
                    <div class="leftt">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="">Item Type(multiple allowed):-</label>
                    </div>
                    <div class="rightt">
                        <input type="checkbox" id="Book">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="Book">Book</label><br>
                        <input type="checkbox" id="Electronics" >
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="Electronics"> Electronics</label><br>
                        <input type="checkbox" id="Sports" >
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="Sports"> Sports Equipment</label><br>
                        <input type="checkbox" id="Others" >
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="Others">Others</label><br>
                    </div>
                </div>
    
                <div class="row">
                    <div class="leftt">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="venue">Venue:-</label>
                    </div>
                    <div class="rightt">
                        <textarea onfocus="inputcolor(this)" onfocusout="onfoc_out(this)" id="venue" name="venue" placeholder="Enter the venue where you lost/found the item here..." style="height:15vh"></textarea>
                    </div>
                </div>
    
                <div class="row">
                    <div class="leftt">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="date"><b>Enter the Date when item was lost/found:- </b><i>(in dd/mm/yyyy format) *Only reports year 2020 onwards are allowed:/</i></label>
                    </div>
                    <div class="rightt">
                        <input onfocus="inputcolor(this)" onfocusout="onfoc_out(this)"  type="text" id="date" name="date">
                    </div>
                </div>
    
                <div class="row">
                    <div class="leftt">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="time"><b>Enter the Time when item was lost/found:- </b><i>(in 24 hr format hour:min:sec) eg. 08:01:01 </i></label>
                    </div>
                    <div class="rightt">
                        <input onfocus="inputcolor(this)" onfocusout="onfoc_out(this)"  type="text" id="time" name="time">
                    </div>
                </div>
    
                <div class="row">
                    <div class="leftt">
                        <label onmouseover="hover(this)" onmouseout="hover_remove(this)" for="price">Estimated Price range of item</label>
                    </div>
                    <div class="rightt">
                        <select name="price" id="price" required>
                            <option value="Disabled" disabled selected>--select estimated price range of the lost/found item--</option>
                            <option value="Trivial">Less than &#8377;500</option>
                            <option value="Mid Price Range">Less than &#8377;2000 </option>
                            <option value="Higher Price Range">Less than &#8377;5000</option>
                            <option value="Expensive">Less than &#8377; 10000</option>
                            <option value="Valuable">Greater than &#8377;10000</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Send Report">
                </div>
            </form>
        </div>
        <%- include('partials/Footer') %>
    </div>
</body>
</html>